@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: initial !important;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    oklch(0.6569 0.196 275.75),
    oklch(0.748 0.26 342.55)
  );
  border-radius: 4px;
}