@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(in oklch 90deg, #ff007f, #ffae00, #00ffae, #007fff, #ae00ff);
}

* {
  scrollbar-color: initial !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    oklch(0.6569 0.196 275.75),
    oklch(0.748 0.26 342.55)
  );
  border-radius: 4px;
}

@keyframes spin-colors {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.text-gradient {
  color: transparent;
  background-clip: text;
  background-image: var(--gradient);
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}